<?php
// Tronçonnage du texte pour éviter les trop grandes différences de hauteur des cartes
function truncate($text, $chars = 25) {
    if (strlen($text) <= $chars) {
        return $text;
    }
    $text = $text." ";
    $text = substr($text,0,$chars);
    $text = substr($text,0,strrpos($text,' '));
    $text = $text."...";
    return $text;
}

// Formatage de la date
function formatDate($date) {
    return date('d M Y H:i', strtotime($date));
}
?>

<div class="row custom-row">
    <!-- Premier container -->
    <div class="col-lg-6">
        <div class="container">
            <div class="row">
                <?php foreach ($data['channel']['item'] as $item): ?>
                    <div class="col-lg-12 col-md-4 mb-4">
                        <div class="card custom-card equal-height-card">
                            <img class="card-img-top custom-card-img-top" src="<?php echo htmlspecialchars($item['enclosure']['@attributes']['url']); ?>" alt="<?php echo htmlspecialchars($item['title']); ?>">
                            <div class="card-body custom-card-body">
                                <h5 class="card-title custom-card-title"><?php echo htmlspecialchars(truncate($item['title'], 50)); ?></h5>
                                <p class="card-text custom-card-text"><?php echo htmlspecialchars(truncate(strip_tags($item['description']), 70)); ?></p>
                                <a href="<?php echo htmlspecialchars($item['guid']); ?>" class="btn btn-primary custom-btn-primary">Guide sur l'Equipe</a>
                                <p class="card-date custom-card-date"><?php echo htmlspecialchars(formatDate($item['pubDate'])); ?></p>
                            </div>
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    </div>

    <!-- Deuxième container -->
    <div class="col-lg-6">
        <div class="container2">
            <?php if($data2[0] === false): ?>
            <div class="row">
                <h1>Pas de Page RMC</h1>
            </div>
            <?php else : ?>
            <div class="row">
                <?php foreach ($data2['channel']['item'] as $item): ?>
                    <div class="col-lg-12 col-md-4 mb-4">
                        <div class="card custom-card equal-height-card">
                            <img class="card-img-top custom-card-img-top" src="<?php echo htmlspecialchars($item['enclosure']['@attributes']['url']); ?>" alt="<?php echo htmlspecialchars($item['title']); ?>">
                            <div class="card-body custom-card-body">
                                <h5 class="card-title custom-card-title"><?php echo htmlspecialchars(truncate($item['title'], 50)); ?></h5>
                                <p class="card-text custom-card-text"><?php echo htmlspecialchars(truncate(strip_tags($item['description']), 70)); ?></p>
                                <a href="<?php echo htmlspecialchars($item['guid']); ?>" class="btn btn-primary custom-btn-primary rmc">Guide RMC</a>
                                <p class="card-date custom-card-date"><?php echo htmlspecialchars(formatDate($item['pubDate'])); ?></p>
                            </div>
                        </div>
                    </div>
                <?php endforeach; ?>     
            </div>
            <?php endif; ?>
        </div>
    </div>
</div>
